@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: none;
}
a:visited {
  color: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: none;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: none;
}

input {
  border: none;
}

.menu, .close {
  cursor: pointer;
  width: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  padding-block: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60%;
  background: white;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 10000;
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 4rem;
  font-weight: 600;
}
nav ul a {
  color: black;
}

.open-nav {
  transform: translateX(0%);
}

@media (min-width: 756px) {
  nav {
    background: none;
    transform: none;
    position: initial;
    height: auto;
    padding: 0;
  }
  nav ul {
    flex-direction: row;
    padding: 0;
  }
  nav ul a {
    color: #68707d;
    font-weight: 400;
  }
  nav ul .current {
    font-weight: 700;
  }
  nav ul .nav_link {
    display: flex;
    justify-content: center;
    position: relative;
  }
  nav ul .nav_link:hover:after {
    content: "";
    position: absolute;
    bottom: -50%;
    height: 3px;
    width: 100%;
    background: #ff7d1a;
  }

  .close, .menu {
    display: none;
  }
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
}
.product_showcase figure img {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  cursor: pointer;
}
.product_showcase .thumb_img_list {
  width: 100%;
  max-width: 450px;
}
.product_showcase .thumb_img_list ul {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.product_showcase .thumb_img_list ul li {
  display: flex;
  justify-content: center;
}
.product_showcase .thumb_img_list img {
  width: 100%;
  max-width: 70%;
  cursor: pointer;
  border-radius: 10px;
}
.product_showcase .thumb_img_list img:hover {
  opacity: 0.6;
}

.mainImg2, .mainImg3, .mainImg4 {
  display: none;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
}
.header .menu_logo_wrapper, .header .cart_avatar_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .main_logo {
  width: 130px;
}
.header .avatar_image {
  width: 30px;
}

@media (min-width: 756px) {
  .header {
    margin-bottom: 6rem;
  }
  .header .cart_avatar_wrapper {
    gap: 2rem;
    flex: 1;
    justify-content: flex-end;
  }
  .header .cart_avatar_wrapper .avatar_image {
    width: 50px;
  }
  .header .main_logo {
    margin-right: 4rem;
  }

  .header:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 95%;
    height: 1px;
    background: #b6bcc8;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
  }
}
.cart_icon {
  position: relative;
}
.cart_icon .fa-shopping-cart {
  font-size: 1.2rem;
}
.cart_icon #cart-count-info {
  position: absolute;
  background: orange;
  color: #fff;
  top: -12px;
  right: -5px;
  z-index: 1;
  font-size: 1rem;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.cart-container {
  position: absolute;
  background: #fff;
  max-width: 430px;
  width: 100%;
  top: 98%;
  right: 0;
  box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
  display: none;
  z-index: 999;
  padding: 1.2rem;
}
.cart-container .cart-total {
  background: #ff7d1a;
  color: white;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.cart-container .cart-total #cart-total-value {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.show-cart-container {
  display: block;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
  margin-bottom: 1rem;
}
.cart-item .cart-item-del-btn {
  position: absolute;
  right: 0;
  top: -10px;
  padding: 0 0.25rem;
  font-size: 0.9rem;
  background: #ff7d1a;
  border: none;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.cart-item .cart_image {
  width: 60px;
  border-radius: 10px;
}
.cart-item .cart-item-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-list {
  width: 100%;
}
.product-list img {
  display: none;
}
.product-list .product-content {
  display: none;
}
.product-list .add-to-cart-btn {
  background: #ff7d1a;
  color: white;
  font-weight: 600;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.1rem;
  max-width: 400px;
}
.product-list .add-to-cart-btn i {
  margin-right: 1rem;
}
@media (min-width: 960px) {
  .product-list .add-to-cart-btn {
    width: 50%;
  }
}
.product-list .add-to-cart-btn:hover {
  opacity: 0.6;
}

html {
  font-size: 1rem;
  font-family: "Kumbh Sans", "sans-serif";
  line-height: 1.2;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 7rem;
}

.product_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1.5rem;
  text-align: center;
}
.product_details .product_brand {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ff7d1a;
}
.product_details .product_title {
  font-size: 2.5rem;
  max-width: 370px;
}
.product_details .product_text {
  margin: 1.5rem 0;
  color: #68707d;
  max-width: 48ch;
  line-height: 1.5;
}
.product_details .product_price .price_discount {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product_details .product_price .price_discount .price {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.product_details .product_price .price_discount .discount {
  background: #ffede0;
  padding: 0.4rem;
  border-radius: 5px;
  color: #ff7d1a;
  font-weight: bold;
  letter-spacing: 1px;
}
.product_details .product_price .original_price {
  color: #68707d;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: line-through;
  margin-top: 1rem;
}
.product_details .counter_cart_btn_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.product_details .counter_cart_btn_wrapper .counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  font-weight: bold;
  background: #f7f8fd;
  margin-top: 1.5rem;
  border-radius: 5px;
  max-width: 400px;
}
.product_details .counter_cart_btn_wrapper .counter img {
  cursor: pointer;
}
@media (min-width: 960px) {
  .product_details .counter_cart_btn_wrapper {
    align-items: start;
  }
}

@media (min-width: 960px) {
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .product .product_details {
    align-items: start;
    text-align: left;
    padding: 0;
  }
  .product .product_details .counter_cart_btn_wrapper {
    flex-direction: row;
    align-items: center;
    margin-top: 2.5rem;
    gap: 2rem;
  }
  .product .product_details .counter_cart_btn_wrapper .add-to-cart-btn, .product .product_details .counter_cart_btn_wrapper .counter {
    margin: 0;
  }
  .product .product_details .counter_cart_btn_wrapper .counter {
    width: 30%;
  }
}
.active {
  opacity: 0.3;
  border: 3px solid #ff7d1a;
}