@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import 'reset';
@import 'colors';
@import 'breakpoints';
@import 'navigation';
@import 'image-gallery';
@import 'header';
@import 'cart';

html {
    font-size: 1rem;
    font-family:'Kumbh Sans','sans-serif';
    line-height: 1.2; 
    overflow-x:hidden;
}

.container {
    max-width: 1400px;
    margin:0 auto;
    padding-bottom: 7rem;
}

// Product Details
.product_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding:1.5rem;
    text-align: center;

    .product_brand {
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        color:$orange;
    }

    .product_title {
        font-size: 2.5rem;
        max-width: 370px;
    }

    .product_text {
        margin:1.5rem 0;
        color:$darkGrayishBlue;
        max-width: 48ch;
        line-height: 1.5;
    }

    .product_price {

        .price_discount {
            display: flex;
            align-items: center;
            gap:1rem;

            .price {
                font-weight: bold;
                font-size: 1.5rem;
                letter-spacing: 1px;
            }
        
            .discount {
                background:$paleOrange;
                padding:.4rem;
                border-radius:5px;
                color:$orange;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }

    
.original_price {
    color:$darkGrayishBlue;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: line-through;
    margin-top: 1rem;
}
       
    }

    .counter_cart_btn_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .counter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding:1rem;
            font-weight: bold;
            background:$lightGrayishBlue;
            margin-top:1.5rem;
            border-radius:5px;
            max-width: 400px;
            

            img {
                cursor:pointer;
            }
        }

       
        @include lg {
            align-items: start;
        }
    }
}


// Desktop

@include lg {
    .product {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:2rem;
        

        .product_details {
            align-items: start;
            text-align: left;
            padding:0;

            .counter_cart_btn_wrapper {
                flex-direction: row;
                align-items: center;
                margin-top: 2.5rem;
                gap:2rem;

                .add-to-cart-btn, .counter {
                    margin:0;
                }

                .counter {
                    width:30%;
                }
            }
        }  
    }
}

.active {
    opacity:0.3;
    border:3px solid $orange;
}